
html {
    box-sizing: border-box;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    font-family: $f-primary, sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: $c-font-black-primary;
    background-color: $c-bg-white-primary;
  }
  
  svg {
    fill: $c-font-black-primary;
  }

  .block-title {
    color: $c-font-black-primary;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1.1;
  }