.footer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 25px;
  padding: 50px 16px;
  background-color: $c-bg-lightblue-secondary;
  &__img-block {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  &__desc {
    text-align: center;
  }
}
