.hero {
    padding-bottom: 20px;

    &__content {}

    &__img {
        width: 100%;
        display: block;
    }

    &__promo {
        padding: 24px;
        background-color: $c-bg-brown-primary;
    }

    &__title {
      font-size: 26px;
      text-transform: uppercase;

    }

    &__des {
        margin-top: 15px;
    }

    &__percent {
        font-size: 34px;
        line-height: 38px;
        margin-left: auto;
    }

    &__img-wrapper {}

    &__buttons {}

    &__button {
        margin-top: 20px;
        display: block;
    }
}