.news-block {
  padding-top: 15px;
  padding-bottom: 15px;
  &__separator {
    margin: 16px 0px;
    height: 1px;
    display: flex;
    justify-content: center;
    background-color: $c-bg-black-primary;
  }
}
