$c-bg-white-primary: #ffffff;
// $c-bg-white-secondary: #60ced9;

$c-bg-black-primary: #181818;

$c-bg-brown-primary: #ded3cd;


$c-btn-bg: #4f459f;

$c-btn-border: #4f459f;

$c-bg-blue-primary: #4f459f;
$c-bg-lightblue-secondary: #c2c3f2;

$c-font-black-primary: #181818;
$c-font-black-secondary: #545454;



$c-font-white-primary: #ffffff;
$c-font-black-secondary: #545454;
