<section class="doctors-block container">
    <div class="doctors-block__header">
        <h1 class="doctors-block__text block-title">врачи</h1>
        <div class="slider-menu">
            <button class="slider-btn" id="prevDoctors"><</button>
            <span id="sliderCountDoctors">1</span>
            <span>/</span>
            <span id="sliderAmountDoctors">10</span>
            <button class="slider-btn" id="nextDoctors">></button>
        </div>
    </div>
    <div class="doctors-block__slider-list" id="slider-list">
        <div class="doctors-block__slider-item slider-item">
            <img src="../assets/images/doctor_mobile_1.png" />
            <img src="../assets/images/doctor_mobile_1.png" />
        </div>
        <div class="doctors-block__slider-item slider-item">
            <img src="../assets/images/doctor_mobile_1.png" />
            <img src="../assets/images/doctor_mobile_1.png" />
        </div>
        <div class="doctors-block__slider-item slider-item">
            <img src="../assets/images/doctor_mobile_1.png" />
            <img src="../assets/images/doctor_mobile_1.png" />
        </div>
    </div>
    <button class="primary-btn" type="submit">все врачи</button>
</section>
