<section class="example-block container">
    <h1 class="example-block__text block-title">до | после</h1>
    <div class="example-block__slider-list" id="slider-list">
        <img class="example-block__slider-item slider-item" src="../assets/images/before_after_1.png" alt="">
        <img class="example-block__slider-item slider-item" src="../assets/images/before_after_1.png" alt="">
        <img class="example-block__slider-item slider-item" src="../assets/images/before_after_1.png" alt="">
        <img class="example-block__slider-item slider-item" src="../assets/images/before_after_1.png" alt="">
    </div>
    <div class="example-block__footer">
    <span>контурная пластика</span>
    <div class="slider-menu">
        <button class="slider-btn" id="prevExample"><</button>
        <span id="sliderCountExample">1</span>
        <span>/</span>
        <span id="sliderAmountExample">10</span>
        <button class="slider-btn" id="nextExample">></button>
    </div>
    </div>
</section>
