<header class="header">
  <div class="header__wrapper">
    <div class="header__logo">
      <img src="/assets/images/logo_1.png" alt="logo" />
    </div>
    <div class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Цены</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Акции</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Статьи</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">До | После</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Отзывы</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Вакансии</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Врачи</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Клиники</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Сертификаты</a>
        </li>
      </ul>
    </div>
    <div class="header__contacts">
      <ul class="header__social">
        <li class="header__social-item">
          <a href="#" class="header__social-link">вк</a>
        </li>
        <li class="header__social-item">
          <a href="#" class="header__social-link">тг</a>
        </li>
        <li class="header__social-item">
          <a href="#" class="header__social-link">фн</a>
        </li>
      </ul>
      <div class="header__phone">
         <p class="header__phone-number">+ 7 (812) 409–62–59</p>
         <button class="header__phpne-button">Перезвоните мне</button>
      </div>
    </div>
  </div>
</header>
