<section class="container hero">
  <div class="hero__content">
    <div class="hero__img-wrapper">
      <img class="hero__img" src="/assets/images/promo_mobile_1.png" alt="" />
      <div class="hero__promo">
         <h3 class="hero__title">Удаление новообразований</h3>
         <p class="hero__des">Родинок, папиллом</p>
         <p class="hero__percent">-20%</p>
      </div>
    </div>
  </div>
  <div class="hero__buttons">
    <button class="primary-btn hero__button">Услуги</button>
    <button class="primary-btn primary-btn_filled hero__button">
      Записаться
    </button>
  </div>
</section>
