<section class="news-letter">
    <div class="news-letter__img">
        <img src="../assets/images/video_mobile_1.png">
    </div>
    <div class="news-letter__main container">
    <span class="news-letter__dest">
        Подпишитесь на акции и получайте
        эксклюзивные скидки каждый месяц
        и дополнительную скидку в день вашего рождения
    </span>
    <div class="news-letter__form container">
        <input placeholder="Email:" type="text">
        <input placeholder="Дата рождения:" type="text">
    </div>
    <button class="primary-btn primary-btn_filled">подписаться</button>
    <span class="news-letter__info">
        Нажимая на кнопку, вы даёте согласие на обработку персональныхданных
        и соглашаетесь с политикой конфиденциальности
    </span>
    </div>
</section>
