<section class="procedures-block container">
    <div class="procedures-block__header">
        <h1 class="procedures-block__text block-title">популярные процедуры</h1>
        <div class="slider-menu">
            <button class="slider-btn" id="prevProcedures"><</button>
            <span id="sliderCountProcedures">1</span>
            <span>/</span>
            <span id="sliderAmountProcedures">10</span>
            <button class="slider-btn" id="nextProcedures">></button>
        </div>
    </div>
    <div class="procedures-block__slider-list" id="slider-list">
        <div class="procedures-block__slider-item-block slider-item">
            <div class="procedures-block__slider-item">
                <img src="../assets/images/hydrofacial_1.png" alt="">
                <span>hydrafacial</span>
            </div>
            <div class="procedures-block__slider-item">
                <img src="../assets/images/contour_plastic_1.png" alt="">
                <span>контурная пластика</span>
            </div>
        </div>
        <div class="procedures-block__slider-item-block slider-item">
            <div class="procedures-block__slider-item">
                <img src="../assets/images/hydrofacial_1.png" alt="">
                <span>hydrafacial</span>
            </div>
            <div class="procedures-block__slider-item">
                <img src="../assets/images/contour_plastic_1.png" alt="">
                <span>контурная пластика</span>
            </div>
        </div>
        <div class="procedures-block__slider-item-block slider-item">
            <div class="procedures-block__slider-item">
                <img src="../assets/images/hydrofacial_1.png" alt="">
                <span>hydrafacial</span>
            </div>
            <div class="procedures-block__slider-item">
                <img src="../assets/images/contour_plastic_1.png" alt="">
                <span>контурная пластика</span>
            </div>
        </div>
        <div class="procedures-block__slider-item-block slider-item">
            <div class="procedures-block__slider-item">
                <img src="../assets/images/hydrofacial_1.png" alt="">
                <span>hydrafacial</span>
            </div>
            <div class="procedures-block__slider-item">
                <img src="../assets/images/contour_plastic_1.png" alt="">
                <span>контурная пластика</span>
            </div>
        </div>
    </div>
</section>
