<section class="review-block container">
<div class="review-block__header">
    <h1 class="review-block__text block-title">отзывы</h1>
    <div class="slider-menu">
        <button class="slider-btn" id="prevReview"><</button>
        <span id="sliderCountReview">1</span>
        <span>/</span>
        <span id="sliderAmountReview">10</span>
        <button class="slider-btn" id="nextReview">></button>
    </div>
</div>
    <div class="review-block__slider-list" id="slider-list">
        <p id="review-item-1" class="review-block__slider-item slider-item">
            Довелось недавно посетить эту клинику, делала у них лазерную эпиляцию.
            Перепробовала практически все способы, и на мной взгляд, этот самый эффективный.
            Сама клиника тоже понравилась. Доктор внимательно отнеслась ко мне и сделала всё достаточно профессионально.
            По крайней мере, я осталась довольна полученным результатом. Цены абсолютно разумные.
        </p>
        <p id="review-item-2" class="review-block__slider-item slider-item">
            Довелось недавно посетить эту клинику, делала у них лазерную эпиляцию.
            Перепробовала практически все способы, и на мной взгляд, этот самый эффективный.
            Сама клиника тоже понравилась. Доктор внимательно отнеслась ко мне и сделала всё достаточно профессионально.
            По крайней мере, я осталась довольна полученным результатом. Цены абсолютно разумные.
        </p>
        <p id="review-item-3" class="review-block__slider-item slider-item">
            Довелось недавно посетить эту клинику, делала у них лазерную эпиляцию.
            Перепробовала практически все способы, и на мной взгляд, этот самый эффективный.
            Сама клиника тоже понравилась. Доктор внимательно отнеслась ко мне и сделала всё достаточно профессионально.
            По крайней мере, я осталась довольна полученным результатом. Цены абсолютно разумные.
        </p>
        <p id="review-item-4" class="review-block__slider-item slider-item">
            Довелось недавно посетить эту клинику, делала у них лазерную эпиляцию.
            Перепробовала практически все способы, и на мной взгляд, этот самый эффективный.
            Сама клиника тоже понравилась. Доктор внимательно отнеслась ко мне и сделала всё достаточно профессионально.
            По крайней мере, я осталась довольна полученным результатом. Цены абсолютно разумные.
        </p>
    </div>
    <button class="primary-btn" type="submit">все отзывы</button>
    <button class="primary-btn primary-btn_filled" type="submit">оставить отзыв</button>
</section>
